name: Edify Deploy
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: clone the code
        uses: actions/checkout@v6-beta
      - name: build the image
        run: docker build -t ${{vars.DOCKER_USERNAME}}/mk-edify .
      - name: login docker hub
        uses: docker/login-action@v3.6.0
        with:
          username: ${{vars.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}
      - name: push image
        run: docker push ${{vars.DOCKER_USERNAME}}/mk-edify
  deploy:
    runs-on: self-hosted
    steps:
      - name: pull the image
        run: docker pull ${{vars.DOCKER_USERNAME}}/mk-edify
      - name: run the container
        run: docker container run -dt --name edify -p 80:80 ${{vars.DOCKER_USERNAME}}/mk-edify
