name: Edify App Deployment
on: workflow_dispatch
jobs:
  notification:
    runs-on: ubuntu-latest
    steps:
      - name: Send Notification
        uses: slackapi/slack-github-action@v2.1.1
        with:
          webhook: ${{secrets.SLACK_WEBHOOK_URL}}
          webhook-type: incoming-webhook
          payload: |
            channel: demo-slack
            text: "*Edify Course App Deployment* Started, Go and *Approve* the Deployment"
  approval:
    needs: notification
    runs-on: ubuntu-latest
    environment:
      name: production
    steps:
      - name: Approval Required
        run: echo "approval Given"
  build:
    needs: approval
    runs-on: ubuntu-latest
    steps:
      - name: Clone Code
        uses: actions/checkout@v5.0.0
      - name: Build the Image
        run: docker build -t ${{vars.DOCKER_USERNAME}}/edify .
      - name: Docker Login
        uses: docker/login-action@v3.6.0
        with:
          username: ${{vars.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}
      - name: Push the Image
        run: docker push ${{vars.DOCKER_USERNAME}}/edify
  deploy:
    needs: build
    runs-on: self-hosted
    steps:
      - name: Pull the Image
        run: docker pull ${{vars.DOCKER_USERNAME}}/edify
      - name: Run Container
        run: |
          docker container rm -f edify
          docker container run -dt --name edify -p 80:80 ${{vars.DOCKER_USERNAME}}/edify
      - name: Check Container
        run: docker container ls -a
  feedback:
    needs: deploy
    runs-on: ubuntu-latest
    steps:
      - name: Send Notification
        uses: slackapi/slack-github-action@v2.1.1
        with:
          webhook: ${{secrets.SLACK_WEBHOOK_URL}}
          webhook-type: incoming-webhook
          payload: |
            channel: demo-slack
            text: "*Edify Course App Deployment* Completed"
          
